@model UserAddVM
<!-- ----------------------------------------------- -->
<style>
    div.inline {
        display: inline-flex;
    }

    input.mail {
        width: 500px;
    }

    input.mailtag {
        width: auto;
    }
</style>
@if (TempData["SuccessMessage"] != null)
{
    <h2 style="color: darkorchid">@TempData["SuccessMessage"]</h2>
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personel Ekle</h5>

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-octagon me-1"></i>
                        (*) Alanların Doldurulması Zorunludur!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <!-- General Form Elements -->
                    <form enctype="multipart/form-data" asp-action="AddUser">
                        <div class="row mb-3">
                            <label asp-for="Name" for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input required asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Surname" for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input required asp-for="Surname" type="text" class="form-control">
                                <span asp-validation-for="Surname" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Mail" for="inputEmail" class="col-sm-2 col-form-label"></label>
                            <div class="inline col-sm-10">
                                <input asp-for="Mail" type="text" class="form-control">
                                <span class="input-group-text" id="basic-addon2">@ViewBag.Email</span>
                            </div>
                            <span asp-validation-for="Mail" class="badge border-danger border-1 text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="TC" for="inputNumber" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="TC" type="number" class="form-control">
                                <span asp-validation-for="TC" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="BirthDate" for="inputDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="BirthDate" type="date" class="form-control">
                                <span asp-validation-for="BirthDate" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="DepartmentID" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                                <span asp-validation-for="DepartmentID" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Title" for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Title" type="text" class="form-control">
                                <span asp-validation-for="Title" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="StartDate" for="inputDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="StartDate" type="date" class="form-control">
                                <span asp-validation-for="StartDate" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="PhoneNumber" for="inputNumber" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="PhoneNumber" type="number" class="form-control">
                                <span asp-validation-for="PhoneNumber" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Adress" for="inputPassword" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea asp-for="Adress" class="form-control" style="height: 100px"></textarea>
                                <span asp-validation-for="Adress" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="PhotoPath" for="inputNumber" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="PhotoPath" class="form-control" type="file" id="formFile">
                                <span asp-validation-for="PhotoPath" class="badge border-danger border-1 text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Kaydet</button>  <button asp-controller="Admin" asp-action="UserList" class="btn btn-primary">Personel Listele</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>
